<font color="FFFFFF">
<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<b> Name:  <%= @user.name %> </b><br /> 
<b> Email: <%= @user.email %> </b><br />
<b> Password: <%= @user.password %> </b>
<b> Password Confirmation: <%= @user.password_confirmation %> </b>
</font>