<br />
<center><h1> Welcome to My Gaming Page!</h1></center>

<br /><hr />


<center><h3>News/Annoucement</h3></center>

<center><p align="left" id="para"><br />
	<b>Wednesday, November 30, 2011</b>
	<br /><br />
	Welcome to my site page!  Today is the first day that this web site is up running.  This website is still  under construction.
	I am looking forward fully finish this website while upgrading and expanding this website through time.
	<br /><br />
</p></center>

